# Streamlit
streamlit==1.26.0

# Data processing
pandas==2.1.2
numpy==1.25.2

# Plotting
matplotlib==3.8.1
Pillow==9.5.0

# Optional extras for nicer formatting
rich==14.3.1
markdown-it-py==4.0.0
mdurl==0.1.2
pygments==2.19.2
